.large-greeting {
  height: 695px;
  border-bottom: 6px solid black;
  display: flex;
  align-items: center;
}
.large-greeting::after {
  content: "";
  background-image: url("images/notebooks_on_grass_zoomed_out_resize_2.jpg");
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position: top center; 
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}